.main-coffee-shop{
  display: grid;
  grid-template-rows: 400px 60%;
  box-sizing: border-box;
}

.hero-coffee-shop{
  background-image: url("../images/coffeeshop.png");
  background-position: bottom;
  background-size: cover;
}

.coffee-shop-description{
  width: 100%;
  margin: 0;
}

.description {
  margin: 0 auto;
  padding: 0 10%;
  font-size: var(--normal);
}

.about-us{
  display: grid;
  grid-template-rows: 400px auto;
  box-sizing: border-box;
}

.hero-about-us{
  display: flex;
  align-items: center;
  background-image: url("../images/coffeetime.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title-about-us{
  margin: auto;
  font-size: var(--title-brand);
  color: var(--white);
}

.main-about-us{
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  grid-template-areas: "img-beans beans-description"
                       "roasted-description img-roasted";
  margin-top: 5%;
}

.subtitle-about-us{
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: var(--title-main);
  padding-top: 30px;
}

.beans-description{
  grid-area: beans-description;
  padding: 0 5% 0 5%;
  margin: auto;
  font-size: var(--normal);
}

.img-beans{
  grid-area: img-beans;
  box-sizing: border-box;
  width: 100%;
  margin: auto;
}

.img-roasted{
  grid-area: img-roasted;
  box-sizing: border-box;
  width: 100%;
  margin: auto;
}

.roasted-description{
  grid-area: roasted-description;
  padding: 0 5% 0 5%;
  margin: auto;
  font-size: var(--normal);
}

.main-delivery{
  padding-bottom: 10%;
}

.container-delivery{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
}

.item-deliver{
  display: block;
  text-align: center;
  padding: 5%;
}

.img-deliver img{
  width: 100%;
  background-color: var(--emerald);
  border-radius: 50%;
}

.description-deliver{
  padding: 0 10% 0 10%;
}

.description-deliver p{
  font-size: var(--normal);
}

@media screen and (max-width: 768px) {

  .main-coffee-shop{
    grid-template-rows: 200px 60%;
  }

  .description {
    margin: 0 auto;
    padding: 0 5%;
  }

  .main-about-us{
    grid-template-columns: 100%;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "img-beans"
                         "beans-description"
                         "img-roasted"
                         "roasted-description";
    margin-top: 40px;
  }

  .subtitle-about-us{
    padding: 0;
  }

  .img-roasted{
    margin: 5% auto 0 auto;
  }

}

@media screen and (max-width: 480px) {

  .title-about-us{
    font-size: var(--title-main);
  }

  .subtitle-about-us{
    font-size: var(--subtitle-brand);
  }

  .beans-description, .roasted-description{
    width: 80%;
    justify-content: center;
    margin: 0;
    font-size: var(--small);
  }

  .img-beans, .img-roasted{
    width: 100%;
    margin: 0;
  }

  .container-delivery{
    display: grid;
    grid-template-columns: repeat(1, minmax(100px, 100%));
  }

  .img-deliver img{
    width: 60%;
  }

  .description-deliver h2{
    font-size: var(--subtitle-brand);
  }

}

@media screen and (max-width: 320px) {

  .beans-description, .roasted-description{
    width: 70%;
    padding: 0;
  }

}
